@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crud de Pacientes em ASP.NET Core</h1>
    <p>Neste exemplo irei mostrar um crud utilizando janelas modais.</p>
</div>
